{% extends 'home/layout.html' %}

{% block title %}überdock{% endblock %}

{% block content %}
    </header>

    <div class="row">
        <div class="col s3 white">
            <h4 class="center">Categories</h4>
            <div class="divider"></div>
            <p>Note-Taking</p>
            <div class="divider"></div>
            <p>Flashcards</p>
            <div class="divider"></div>
            <p>Language</p>
            <div class="divider"></div>
            <p>eBooks</p>
            <div class="divider"></div>
            <p>Puzzles & Educational Games</p>
            <div class="divider"></div>
            <p>K-12 Learning</p>
            <div class="divider"></div>
        </div>

        <div class="col s9  white">
            <h3>Featured</h3>
            <div class="divider"></div>
            <div class="section col s12 white">
                {% for app in object_list %}
                    <div class="col s12 m12 l6 xl4">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <h5><a href="{% url 'post_detail' app.pk %}">{{ app.title }}</a></h5>
                                <!--                                <span class="card-title">{{ app }}</span>-->
                                <p>{{ app.blurb }}</p>
                            </div>
                            <div class="card-action">
                                <a href={{ app.link }}>Get {{ app }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}