{% extends 'home/layout.html' %}

{% block title %}überdock{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s3 white">
            <h4 class="center">Categories</h4>
            <div class="divider"></div>
            <div class="section">
                <h5>Section 1</h5>
                <p>Stuff</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Section 2</h5>
                <p>Stuff</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Section 3</h5>
                <p>Stuff</p>
            </div>
        </div>

        <div class="col s9 white">
            <h3>Featured</h3>
            <div class="divider"></div>
            <div class="section">
                <h5>Top Rated</h5>
                <p>Stuff</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Popular</h5>
                <p>Stuff</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Recently Added</h5>
                <p>Stuff</p>
            </div>
        </div>
    </div>
{% endblock %}